#ENVIRONMENT
PORT=<SERVER_PORT>
JWT_SECRET=<JWT_SECRET>

#DB
DATABASE_URL=<NEONDB_URL>

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Resend Email Service Configuration
RESEND_API_KEY=re_your_api_key_here

# For development, you can use Resend's test domain: onboarding@resend.dev
# For production, verify your domain first: noreply@yourdomain.com
RESEND_FROM_EMAIL=onboarding@resend.dev
CLIENT_URL=http://localhost:5173
